# Interpolation
scipy==1.12.0
pandas==2.2.0

# Feature Engineering
tsfresh==0.20.2
tsfel==0.1.6

# Visualization
plotly==5.18.0
nbformat==5.9.2
seaborn==0.13.2
kaleido==0.2.1

# Documentation
sphinx==5.0.1
sphinx-rtd-theme==1.0.0
sphinx-design==0.5.0

# Data Format Reading
pyreadr==0.5.0

# Markdown
tabulate==0.9.0

# Publishing
twine==5.0.0